<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <h1>รายการสินค้าน้ำยาล้างจาน</h1></br>
  <% products.map((product)=>{ %>
    <h4>
      <a href="/products/<%product.id%>"><%=product.productTitle %></a>
    </h4>
    <p>
      <%=product.productDescription%>
    </p>
    <p>ราคา : <%=product.productPrice%> บาท</p>
    <%})%>
</body>

</html>